<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.practice3.domain.comment.dao.CommentRepository">
    <insert id="insert" useGeneratedKeys="true">
        INSERT INTO comment(content, post_id, member_id)
            VALUE (#{request.content}, #{request.postId}, #{request.memberId})
    </insert>
</mapper>
