<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communify.domain.file.dao.FileRepository">
    <insert id="insertFileInfoList" keyProperty="storedFilename">
        INSERT INTO file(stored_filename, original_filename, extension, post_id, sequence) VALUES
        <foreach collection="list" item="fileInfo" index="idx" separator=",">
            (#{fileInfo.storedFilename}, #{fileInfo.originalFilename}, #{fileInfo.extension}, #{fileInfo.postId}, #{fileInfo.sequence})
        </foreach>
    </insert>

    <select id="findByStoredFilename" resultType="FileInfo">
        SELECT *
        FROM file
        WHERE stored_filename = #{storedFilename}
    </select>
</mapper>
