<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communify.domain.file.dao.FileRepository">
    <insert id="insertFiles" keyProperty="storedFilename">
        INSERT INTO file(stored_filename, original_filename, extension, post_id, sequence) VALUES
        <foreach collection="uploadFileList" item="uploadFile" separator=",">
            (#{uploadFile.storedFilename}, #{uploadFile.originalFilename}, #{uploadFile.extension}, #{request.postId},
            #{uploadFile.sequence})
        </foreach>
    </insert>

    <delete id="deleteAll">
        DELETE
        FROM file
        WHERE post_id = #{postId}
    </delete>
</mapper>
