<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communify.domain.follow.FollowRepository">
    <insert id="insertFollow">
        INSERT INTO follow(follower_id, followee_id)
        VALUES (#{followerId}, #{followeeId})
    </insert>

    <delete id="deleteFollow">
        DELETE
        FROM follow
        WHERE follower_id = #{followerId} AND followee_id = #{followeeId}
    </delete>

    <select id="findFollowers">
        SELECT m.id,
               m.name,
               IF(f2.follower_id IS NOT NULL, TRUE, FALSE) AS is_following
        FROM follow f1
                 INNER JOIN member m ON f1.follower_id = m.id
                 LEFT OUTER JOIN follow f2 ON m.id = f2.followee_id AND f2.follower_id = #{searcherId}
        WHERE f1.followee_id = #{followeeId}
        <if test="lastFollowerId != null">
            AND m.id &gt; #{lastFollowerId}
        </if>
        ORDER BY m.id
        LIMIT 100
    </select>

    <select id="findFollowees">
        SELECT m.id,
               m.name,
               IF(f2.follower_id IS NOT NULL, TRUE, FALSE) AS is_following
        FROM follow f1
                 INNER JOIN member m ON f1.followee_id = m.id
                 LEFT OUTER JOIN follow f2 ON m.id = f2.followee_id AND f2.follower_id = #{searcherId}
        WHERE f1.follower_id = #{followerId}
        <if test="lastFollowingId != null">
            AND m.id &gt; #{lastFolloweeId}
        </if>
        ORDER BY m.id
        LIMIT 100
    </select>
</mapper>
