<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communify.domain.like.dao.LikeRepository">
    <insert id="insert" parameterType="LikeRequest">
        INSERT INTO likes(post_id, member_id)
            VALUE (#{request.postId}, #{request.memberId})
    </insert>

    <insert id="bulkInsert" parameterType="java.util.Collection">
        INSERT INTO likes(post_id, member_id)
        VALUES
        <foreach collection="collection" item="request" index="idx" separator=",">
            (#{request.postId}, #{request.memberId})
        </foreach>
    </insert>

</mapper>
