<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communify.domain.like.LikeRepository">
    <insert id="insertLike">
        INSERT INTO likes(post_id, liker_id)
        VALUE (#{postId}, #{liker_id})
    </insert>

    <select id="findLiking">
        SELECT EXISTS(SELECT *
                      FROM likes
                      WHERE post_id = #{postId} AND liker_id = #{likerId})
    </select>
</mapper>
