<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communify.domain.member.dao.MemberRepository">
    <insert id="insert" useGeneratedKeys="true" keyProperty="request.id">
        INSERT INTO member(email, hashed, name)
        VALUES (#{request.email}, #{request.hashed}, #{request.name})
    </insert>

    <select id="findMemberInfoForLoginByEmail">
        SELECT id, hashed, name
        FROM member
        WHERE email = #{email}
    </select>

    <select id="findMemberInfoForSearch">
        SELECT id,
               email,
               name,
               follower_count,
               followee_count,
               IF(f.follower_id IS NOT NULL, TRUE, FALSE) AS is_following,
               created_timestamp
        FROM member m
            LEFT OUTER JOIN follow f ON m.id = f.followee_id AND f.follower_id = #{request.searcherId}
        WHERE id = #{request.memberId}
    </select>

    <select id="findMemberInfoForUpdateById">
        SELECT hashed
        FROM member
        WHERE id = #{memberId}
    </select>

    <select id="findMemberInfoForWithdrawById">
        SELECT hashed
        FROM member
        WHERE id = #{memberId}
    </select>

    <delete id="deleteById">
        DELETE
        FROM member
        WHERE id = #{memberId}
    </delete>

    <insert id="setToken">
        INSERT INTO token(member_id, token)
        VALUES (#{memberId}, #{token})
    </insert>

    <update id="updatePassword">
        UPDATE member
        SET hashed = #{request.newHashed}
        WHERE id = #{request.memberId}
    </update>

    <update id="incrementFollowerCount">
        UPDATE member
        SET follower_count = follower_count + #{count}
        WHERE id = #{followeeId}
    </update>

    <update id="incrementFolloweeCount">
        UPDATE member
        SET followee_count = followee_count + #{count}
        WHERE id = #{followerId}
    </update>

    <update id="decrementFollowerCount">
        UPDATE member
        SET follower_count = follower_count - #{count}
        WHERE id = #{followeeId}
    </update>

    <update id="decrementFollowingCount">
        UPDATE member
        SET followee_count = followee_count - #{count}
        WHERE id = #{followerId}
    </update>

    <update id="decrementFollowerCountOfFollowees">
        UPDATE member
        SET follower_count = follower_count - #{count}
        WHERE id IN (SELECT followee_id
                     FROM follow
                     WHERE follower_id = #{followerId})
    </update>

    <update id="decrementFolloweeCountOfFollowers">
        UPDATE member
        SET followee_count = followee_count - #{count}
        WHERE id IN (SELECT follower_id
                     FROM follow
                     WHERE followee_id = #{followeeId})
    </update>
</mapper>
