<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communify.domain.post.repository.PostAttachmentMapper">
    <insert id="insertAllAttachments" keyProperty="storedFilename">
        INSERT INTO post_attachment(stored_filename, original_filename, extension, post_id, sequence) VALUES
        <foreach collection="list" item="uploadFile" index="idx" separator=",">
            (#{uploadFile.storedFilename}, #{uploadFile.originalFilename}, #{uploadFile.extension}, #{postId}, #{idx})
        </foreach>
    </insert>

    <delete id="deleteAllAttachments">
        DELETE
        FROM post_attachment
        WHERE post_id = #{postId}
    </delete>
</mapper>
