<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communify.domain.post.repository.PostMapper">
    <resultMap id="postOutlineResultMap" type="PostOutline">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="writerId" column="writer_id"/>
        <result property="writerName" column="name"/>
        <result property="categoryId" column="category_id"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="createdDateTime" column="created_timestamp"/>
        <result property="isHot" column="is_hot"/>
    </resultMap>

    <resultMap id="postDetailResultMap" type="PostDetail">
        <result property="content" column="content"/>
        <result property="createdDateTime" column="created_timestamp"/>
        <collection property="fileInfoList" ofType="FileInfo">
            <id property="storedFilename" column="stored_filename"/>
            <result property="originalFilename" column="original_filename"/>
            <result property="extension" column="extension"/>
            <result property="sequence" column="sequence"/>
        </collection>
    </resultMap>

    <insert id="insertPost" useGeneratedKeys="true" keyProperty="request.id">
        INSERT INTO post(title, content, writer_id, category_id)
        VALUES (#{dto.title}, #{dto.content}, #{dto.writerId}, #{dto.categoryId});
    </insert>

    <select id="findHotPostOutlines" resultMap="postOutlineResultMap">
        SELECT p.id,
               p.title,
               p.writer_id,
               u.name,
               p.category_id,
               p.view_count,
               p.like_count,
               p.comment_count,
               p.created_timestamp,
               TRUE AS is_hot
        FROM hot_post h
        INNER JOIN post p ON h.post_id = p.id
        LEFT OUTER JOIN user u on p.writer_id = u.id
        <if test="lastPostId != null">
            WHERE p.id &lt; #{lastPostId}
        </if>
        ORDER BY p.id DESC
        LIMIT #{searchSize}
    </select>

    <select id="findPostOutlinesByCategory" resultMap="postOutlineResultMap">
        SELECT p.id,
               p.title,
               p.writer_id,
               u.name,
               p.category_id,
               p.view_count,
               p.like_count,
               p.comment_count,
               p.created_timestamp,
               FALSE AS is_hot
        FROM post p
            LEFT OUTER JOIN user u ON p.writer_id = u.id
        WHERE p.category_id = #{categoryId}
        <if test="lastPostId != null">
            AND p.id &lt; #{lastPostId}
        </if>
        ORDER BY p.id DESC
        LIMIT #{searchSize}
    </select>

    <select id="findPostOutlinesByUser" resultMap="postOutlineResultMap">
        SELECT p.id,
               p.title,
               p.writer_id,
               u.name,
               p.category_id,
               p.view_count,
               p.like_count,
               p.comment_count,
               p.created_timestamp,
               FALSE AS is_hot
        FROM post p
            INNER JOIN user u ON p.writer_id = u.id
        WHERE u.id = #{writerId}
        <if test="lastPostId != null">
            AND p.id &lt; #{lastPostId}
        </if>
        ORDER BY p.id DESC
        LIMIT #{searchSize}
    </select>

    <select id="findPostDetail" resultMap="postDetailResultMap">
        SELECT p.content,
               p.created_timestamp,
               pa.stored_filename,
               pa.original_filename,
               pa.extension,
               pa.sequence
        FROM post p
                 LEFT OUTER JOIN post_attachment pa ON p.id = pa.post_id
        WHERE p.id = #{postId}
        ORDER BY pa.sequence
    </select>

    <update id="incViewCount">
        UPDATE post
        SET view_count = view_count + #{count}
        WHERE id = #{postId}
    </update>

    <update id="incLikeCount">
        UPDATE post
        SET like_count = like_count + #{count}
        WHERE id = #{postId}
    </update>

    <update id="incCommentCount">
        UPDATE post
        SET comment_count = comment_count + #{count}
        WHERE id = #{postId}
    </update>

    <update id="decCommentCount">
        UPDATE post
        SET comment_count = comment_count - #{count}
        WHERE id = #{postId}
    </update>

    <update id="editPost">
        UPDATE post
        SET title = #{title},
            content = #{content},
            category_id = #{categoryId}
        WHERE id = #{postId}
          AND writer_id = #{requesterId}
    </update>

    <delete id="deletePost">
        DELETE
        FROM post
        WHERE id = #{postId}
          AND writer_id = #{requesterId}
    </delete>

    <insert id="promoteToHot">
        INSERT INTO hot_post(post_id)
        VALUE (#{postId})
    </insert>

    <select id="findHotPostChecker">
        SELECT IF(h.post_id IS NOT NULL, TRUE, FALSE) AS is_hot,
               view_count,
               comment_count
        FROM post p
                 LEFT OUTER JOIN hot_post h ON p.id = h.post_id
        WHERE id = #{postId}
    </select>
</mapper>
