<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communify.domain.post.dao.PostRepository">
    <resultMap id="postOutlineResultMap" type="PostOutline">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="memberId" column="member_id"/>
        <result property="memberName" column="name"/>
        <result property="categoryId" column="category_id"/>
        <result property="viewCount" column="view_count"/>
        <result property="likeCount" column="like_count"/>
        <result property="commentCount" column="comment_count"/>
        <result property="createdDateTime" column="created_timestamp"/>
        <result property="isHot" column="is_hot"/>
    </resultMap>

    <resultMap id="postDetailResultMap" type="PostDetail">
        <result property="content" column="content"/>
        <collection property="fileInfoList" ofType="FileInfo">
            <id property="storedFilename" column="stored_filename"/>
            <result property="originalFilename" column="original_filename"/>
            <result property="extension" column="extension"/>
            <result property="postId" column="post_id"/>
            <result property="sequence" column="sequence"/>
        </collection>
    </resultMap>

    <insert id="insertPost" useGeneratedKeys="true" keyProperty="request.id">
        INSERT INTO post(title, content, member_id, category_id)
        VALUES (#{request.title}, #{request.content}, #{request.memberId}, #{request.categoryId});
    </insert>

    <select id="findAllPostOutlineBySearchCond" resultMap="postOutlineResultMap">
        SELECT p.id,
        p.title,
        p.member_id,
        m.name,
        p.category_id,
        p.view_count,
        p.like_count,
        p.comment_count,
        p.created_timestamp,
        false as is_hot
        FROM post p
            LEFT OUTER JOIN member m ON p.member_id = m.id
        <where>
            <if test="searchCond.categoryId != null">
                p.category_id = #{searchCond.categoryId}
            </if>
            <if test="searchCond.memberId != null">
                p.member_id = #{searchCond.memberId}
            </if>
            <if test="searchCond.lastPostId != null">
                AND p.id &lt; #{searchCond.lastPostId}
            </if>
        </where>
        GROUP BY p.id
        ORDER BY p.id DESC
        LIMIT #{limit}
    </select>

    <select id="findPostDetail" resultMap="postDetailResultMap">
        SELECT p.content,
               f.stored_filename,
               f.original_filename,
               f.extension,
               f.post_id,
               f.sequence
        FROM post p
                 LEFT OUTER JOIN file f ON p.id = f.post_id
        WHERE p.id = #{postId}
        ORDER BY f.sequence
    </select>

    <update id="incrementViewCount">
        UPDATE post
        SET view_count = CASE
        <foreach collection="list" item="request" separator="">
            WHEN id = #{request.postId} THEN view_count + #{request.viewCount}
        </foreach>
        ELSE view_count
        END
        WHERE id IN
        <foreach collection="list" item="request" open="(" separator="," close=")">
            #{request.postId}
        </foreach>
    </update>

    <update id="incrementLikeCount">
        UPDATE post
        SET like_count = like_count + #{likeCount}
        WHERE id = #{postId}
    </update>

    <update id="incrementCommentCount">
        UPDATE post
        SET comment_count = comment_count + #{count}
        WHERE id = #{postId}
    </update>

    <update id="decrementCommentCount">
        UPDATE post
        SET comment_count = comment_count - #{count}
        WHERE id = #{postId}
    </update>

    <update id="editPost">
        UPDATE post
        SET title       = #{request.title},
            content     = #{request.content},
            category_id = #{request.newCategoryId}
        WHERE id = #{request.postId}
          AND member_id = #{request.memberId}
    </update>

    <delete id="deletePost">
        DELETE
        FROM post
        WHERE id = #{request.postId}
          AND member_id = #{request.memberId}
    </delete>

    <select id="isWrittenBy">
        SELECT EXISTS(SELECT *
                      FROM post
                      WHERE id = #{postId}
                        AND member_id = #{memberId})
    </select>
</mapper>
