<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.communify.domain.push.dao.PushRepository">
    <resultMap id="InfoForLikeNotificationResultMap" type="InfoForLikeNotification">
        <result property="postWriterId" column="post_writer_id"/>
        <result property="fcmToken" column="fcm_token"/>
        <result property="likerId" column="liker_id"/>
        <result property="likerName" column="liker_name"/>
        <result property="state" column="state"/>
    </resultMap>

    <select id="findInfoForPostUploadNotificationList" resultType="InfoForPostUploadNotification">
        SELECT f.follower_id,
               ft.fcm_token,
               #{request.memberName} AS writer_name
        FROM follow f
                 INNER JOIN member m1 ON f.follower_id = m1.id
                 LEFT OUTER JOIN fcm_token ft ON m1.id = ft.member_id
        WHERE f.followee_id = #{request.memberId}
    </select>

    <select id="findInfoForLikeNotificationList" resultMap="InfoForLikeNotificationResultMap">
        SELECT writer.id AS post_writer_id,
               ft.fcm_token,
               liker.id AS liker_id,
               liker.name AS liker_name,
               l.state
        FROM likes l
            INNER JOIN post p ON l.post_id = p.id
            LEFT OUTER JOIN member writer ON p.member_id = writer.id
            LEFT OUTER JOIN fcm_token ft ON writer.id = ft.member_id
            INNER JOIN member liker ON l.liker_id = liker.id
        WHERE
        <foreach collection="list" item="request" open="(" separator="OR" close=")">
            l.post_id = #{request.postId} AND l.liker_id = #{request.likerId}
        </foreach>
    </select>

    <update id="setNotified">
        UPDATE likes
        SET state = 'notified'
        WHERE
        <foreach collection="list" item="info" open="(" separator="OR" close=")">
            post_id = #{info.postId} AND liker_id = #{info.likerId}
        </foreach>
    </update>

    <select id="findInfoForCommentNotification" resultType="InfoForCommentNotification">
        SELECT p.member_id AS post_writer_id,
               ft.fcm_token,
               #{request.content} AS comment_content,
               #{request.writerName} AS comment_writer_name
        FROM post p
                 LEFT OUTER JOIN member m ON p.member_id = m.id
                 LEFT OUTER JOIN fcm_token ft ON m.id = ft.member_id
        WHERE p.id = #{request.postId}
    </select>

    <select id="findInfoForFollowNotification" resultType="InfoForFollowNotification">
        SELECT #{request.followeeId} AS followee_id,
               fcm_token,
               #{request.followerName} AS follower_name
        FROM fcm_token
        WHERE member_id = #{request.followeeId}
    </select>
</mapper>
